<template>
  <div>
      <navbar></navbar>
      <div class="relative p-5">
            <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">

                <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-2">
                    <div>
                        <img :src="'http://' + product.image" :alt="product.title">
                    </div>
                    <div class="block">
                        <div class="block">
                            <label for="title">Title:</label>
                            <input type="text" class="block w-full px-2 py-1" v-model="product.title">
                        </div>
                        <div class="block">
                            <label for="title">Quantity:</label>
                            <input type="number" class="h-auto block w-full px-2 py-1" v-model="product.quantity">
                        </div>
                        <div class="block">
                            <label for="title">Ingredients:</label>
                            <textarea class="block w-full px-2 py-1" v-model="product.ingredients"></textarea>
                        </div>
                        <!-- <h1 @mouseover="hover = true" @mouseleave="hover = false" class="font-extrabold text-4xl">
                            {{ product.title }}
                        <span v-if="hover"><a :href="'/products/' + product.id + '/edit'" class="text-sm font-thin px-2 border border-yellow-400 hover:bg-yellow-400 hover:text-white absolute">Edit</a></span>
                        </h1>
                        <p class="font-thin my-5">SKU: {{ product.sku }}</p>
                        <hr/>
                        <div class="mt-5 text-3xl">Price: <span class="text-green-600">€{{ product.price }}</span></div>
                        <div class="mt-5 text-3xl">Available Stocks: <span class="text-green-600">{{ product.quantity }}</span></div>
                        <div class="mt-5 text-3xl">Ingredients:</div>                    
                        <p>{{ product.ingredients }}</p> -->
                        <div class="mt-3">
                            <button class="border border-green-600 hover:text-white hover:bg-green-600 px-2 py-1" @click="update">Update</button>
                            <a :href="'/products/' + product._id" class="ml-2 border border-red-600 hover:text-white hover:bg-red-600 px-2 py-1">Cancel</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import navbar from './Navbar';

export default {
    components: {
        navbar
    },
    methods: {
        update() {
            axios.patch('/products/' + this.product._id, this.product).then(response => {
                if (response.data.success) {
                    alert('Product details updated. Press OK to redirect.');
                } else {
                    alert('Failed to update product details.');
                }

                setTimeout(() => {
                    window.location.href = '/products/' + this.product._id;
                }, 100);
            })
        }
    },
    props: {
        product: []
    }
}
</script>

<style>

</style>