<template>
    <div class="block">
        <navbar></navbar>

        <div class="p-10 flex justify-center">
            <apexchart
                class="w-3/4"
                type="bar"
                :options="chartOptions"
                :series="series"
            ></apexchart>
        </div>
    </div>
</template>

<script>
import VueApexCharts from "vue3-apexcharts";
import navbar from './Navbar';

export default {
    components: {
        apexchart: VueApexCharts,
        navbar
    },
    mounted() {
        console.log(this.products);
    },
    data() {
        return {
            chartOptions: {
                chart: {
                id: "products-chart",
                },
                xaxis: {
                    categories: this.titles,
                },
            },
            series: [
                {
                name: "Quantity",
                data: this.values,
                },
            ],
        }
    },
    props: ['titles', 'values']
}
</script>

<style>

</style>