<template>
    <div>
        <navbar></navbar>
        <div class="relative p-5">
            <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
                <a href="/products" class="text-blue-400">back to product list</a>
                <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-2">
                    <div>
                        <img :src="'http://' + product.image" :alt="product.title">
                    </div>
                    <div>
                        <h1 @mouseover="hover = true" @mouseleave="hover = false" class="font-extrabold text-4xl text-center md:text-left">
                            {{ product.title }}
                        <span v-if="hover"><a :href="'/products/' + product._id + '/edit'" class="text-sm font-thin px-2 border border-yellow-400 hover:bg-yellow-400 hover:text-white absolute">Edit</a></span>
                        </h1>
                        <p class="font-thin my-5">SKU: {{ product.sku }}</p>
                        <hr/>
                        <div class="mt-5 text-3xl">Price: <span class="text-green-600">€{{ product.price }}</span></div>
                        <div class="mt-5 text-3xl">Available Stocks: <span class="text-green-600">{{ product.quantity }}</span></div>
                        <div class="mt-5 text-3xl">Ingredients:</div>                    
                        <p>{{ product.ingredients }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import navbar from './Navbar';

export default {
    components: {
        navbar
    },
    props: {
        product: []
    },
    data() {
        return {
            hover: false
        }
    }
}
</script>

<style>

</style>