<template>
    <div>
        <navbar></navbar>
        <div class="max-w-6xl mx-auto text-center mt-10 sm:px-6 lg:px-8">
            <button :disabled="scraping" @click="scrape" class="border border-blue-400 hover:text-white hover:bg-blue-400 px-2 py-1 uppercase">{{ scraping ? 'Please wait...' : 'Start Scraping' }}</button>
            <small class="mt-2 block mx-auto text-xs">Scraping might take a long time. Please wait until a prompt shows up.</small>
            <div v-if="scraping" class="mt-5 mx-auto loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-64 w-64"></div>
        </div>
    </div>
</template>

<script>
import navbar from './Navbar';

export default {
    components: {
        navbar
    },
    data() {
        return {
            scraping: false
        }
    },
    methods: {
        scrape() {
            this.scraping = true;
            axios.post('/products/scrape').then(response => {
                if (response.data.success) {
                    alert('Site scraping is put on queue, some products might not be available yet.');
                } else {
                    alert('Failed to scrape site.');
                }
                this.scraping = false;
            });
        }
    }
}
</script>

<style>
    .loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
    }
    @-webkit-keyframes spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
</style>