<template>
    <div class="mb-5">
        <navbar></navbar>
        <div class="relative p-5 md:p-2">
            <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
                <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-1">
                    <div class="col-span-1">
                        <h1 class="font-bold text-4xl tracking-wide text-center md:text-left">All Products</h1>
                    </div>
                    <div class="col-span-1">
                        <input type="text" placeholder="Search product..." class="w-full md:w-3/4  lg:float-right border border-gray-400" @keyup="filterProducts" v-model="search">
                    </div>
                </div>

                <ul class="grid sm:grid-cols-1 md:grid-cols-4 gap-1 mt-5">
                    <li v-for="product in products.data" :key="product._id" class="p-3 border border-gray-300 shadow-md rounded-lg bg-white hover:border-4 hover:border-green-400">
                        <a :href="'/products/' + product._id">
                            <div class="mb-2">
                                <img :src="'http://' + product.image" :alt="product.title">
                            </div>
                            <div class="font-bold">{{ product.title }}</div>
                            <div class="text-lg text-green-600">€{{ product.price }} <span class="float-right text-black">{{ product.quantity }} stocks</span></div>
                        </a>
                    </li>
                </ul>
                <div v-if="noProducts" class="text-center">- NO PRODUCTS -</div>
                <div class="mt-5 space-x-2" v-if="!noProducts">
                    <a :href="products.prev_page_url" class="border border-blue-400 px-2 py-1" v-if="products.prev_page_url != null">Previous</a>
                    <div class="inline-block">{{ products.current_page }} / {{ products.last_page }}</div>
                    <a :href="products.next_page_url" class="border border-blue-400 px-2 py-1 pull-right" v-if="products.next_page_url != null">Next</a>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .bg-gray-100 {
        background-color: #f7fafc;
        background-color: rgba(247, 250, 252, var(--tw-bg-opacity));
    }

    .border-gray-200 {
        border-color: #edf2f7;
        border-color: rgba(237, 242, 247, var(--tw-border-opacity));
    }

    .text-gray-400 {
        color: #cbd5e0;
        color: rgba(203, 213, 224, var(--tw-text-opacity));
    }

    .text-gray-500 {
        color: #a0aec0;
        color: rgba(160, 174, 192, var(--tw-text-opacity));
    }

    .text-gray-600 {
        color: #718096;
        color: rgba(113, 128, 150, var(--tw-text-opacity));
    }

    .text-gray-700 {
        color: #4a5568;
        color: rgba(74, 85, 104, var(--tw-text-opacity));
    }

    .text-gray-900 {
        color: #1a202c;
        color: rgba(26, 32, 44, var(--tw-text-opacity));
    }

    @media (prefers-color-scheme: dark) {
        .dark\:bg-gray-800 {
            background-color: #2d3748;
            background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
        }

        .dark\:bg-gray-900 {
            background-color: #1a202c;
            background-color: rgba(26, 32, 44, var(--tw-bg-opacity));
        }

        .dark\:border-gray-700 {
            border-color: #4a5568;
            border-color: rgba(74, 85, 104, var(--tw-border-opacity));
        }

        .dark\:text-white {
            color: #fff;
            color: rgba(255, 255, 255, var(--tw-text-opacity));
        }

        .dark\:text-gray-400 {
            color: #cbd5e0;
            color: rgba(203, 213, 224, var(--tw-text-opacity));
        }
    }
</style>

<script>
    import _ from 'lodash';
    import navbar from './Navbar';

    export default {
        components: {
            navbar
        },
        data() {
            return {
                resetPage: false,
                products: [],
                noProducts:false
            }
        },
        methods: {
            getProducts() {
                axios.get('/products', {
                    params: {
                        page: this.resetPage ? 1 : this.page,
                        search: this.search
                    }
                }).then(response => {
                    this.products = response.data;
                    this.noProducts = !response.data.data.length;
                });

            },
            filterProducts: _.debounce(function () {
                this.resetPage = true;
                this.getProducts();
            }, 300)
        },
        mounted() {
            this.getProducts();
        },
        props: {
            page: 0,
            search: ''
        }
    }
</script>
